In [46]:
from dotenv import load_dotenv
load_dotenv() 

import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
import src.config as config

In [47]:
from src.inference import get_feature_store

In [48]:
feature_store = get_feature_store()

2025-05-10 06:52:52,859 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-05-10 06:52:52,881 INFO: Initializing external client
2025-05-10 06:52:52,882 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-05-10 06:52:53,492 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1225934

In [49]:
from datetime import datetime, timedelta
import pandas as pd  


current_date = pd.Timestamp.now()
feature_store = get_feature_store()

# read time-series data from the feature store
fetch_data_to = current_date - timedelta(hours=1)
fetch_data_from = current_date - timedelta(days=1*29)
print(f"Fetching data from {fetch_data_from} to {fetch_data_to}")
feature_view = feature_store.get_feature_view(
    name=config.FEATURE_VIEW_NAME, version=config.FEATURE_VIEW_VERSION
)

ts_data = feature_view.get_batch_data(
    start_time=(fetch_data_from - timedelta(days=1)),
    end_time=(fetch_data_to + timedelta(days=1)),
)
# Ensure fetch_data_from and fetch_data_to are timezone-aware to match ts_data.pickup_hour
fetch_data_from = fetch_data_from.tz_localize(None)
fetch_data_to = fetch_data_to.tz_localize(None)
ts_data.pickup_hour = ts_data.pickup_hour.dt.tz_localize(None)
ts_data = ts_data[ts_data.pickup_hour.between(fetch_data_from, fetch_data_to)]

2025-05-10 06:52:55,508 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-05-10 06:52:55,512 INFO: Initializing external client
2025-05-10 06:52:55,512 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-05-10 06:52:56,159 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1225934
Fetching data from 2025-04-11 06:52:55.506862 to 2025-05-10 05:52:55.506862
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.84s)

In [50]:
ts_data.sort_values(["station_id", "pickup_hour"]).reset_index(drop=True)

            pickup_hour station_id  rides
0   2025-04-12 06:00:00      HB101      2
1   2025-04-12 12:00:00      HB101     16
2   2025-04-12 18:00:00      HB101     18
3   2025-04-13 00:00:00      HB101     10
4   2025-04-13 06:00:00      HB101     13
..                  ...        ...    ...
331 2025-05-09 00:00:00      HB305      1
332 2025-05-09 06:00:00      HB305     11
333 2025-05-09 12:00:00      HB305     28
334 2025-05-09 18:00:00      HB305      3
335 2025-05-10 00:00:00      HB305      2

[336 rows x 3 columns]

In [51]:
ts_data

            pickup_hour station_id  rides
0   2025-05-02 12:00:00      HB105     32
1   2025-04-25 00:00:00      HB105      4
2   2025-04-21 18:00:00      HB101     31
3   2025-04-19 06:00:00      HB101      2
4   2025-05-09 06:00:00      HB101      7
..                  ...        ...    ...
331 2025-04-17 12:00:00      HB105     20
332 2025-05-08 18:00:00      HB101     23
333 2025-05-02 06:00:00      HB305     19
334 2025-05-07 06:00:00      HB105     17
335 2025-04-20 12:00:00      HB105     29

[336 rows x 3 columns]

In [52]:
from src.data_utils import transform_ts_data_info_features_and_target

features , _ = transform_ts_data_info_features_and_target(ts_data, window_size=24*28, step_size=23)

Skipping location_id HB105: Not enough data to create even one window.
Skipping location_id HB101: Not enough data to create even one window.
Skipping location_id HB305: Not enough data to create even one window.

ValueError: No data could be transformed. Check if input DataFrame is empty or window size is too large.